<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Guru Suite" >
    <test name="Test Login Elements">
        <classes>
            <class name="FormAuthenticationTest"></class>
            <class name="CheckBoxTest"></class>
        </classes>
    </test>
</suite>